h2 {
  font-size: 2rem;
  color: var(--earthy-black);
  margin-bottom: 20px;
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: white;
}

p {
  color: white;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-details {
  animation: fadeIn 0.5s ease-in-out; /* Adjust the duration and easing as needed */
}

/* Main CARD Settings */
:root {
  /* Earthy theme */
  --earthy-black: #050507;
  --earthy-green: #226160;
  --earthy-brown: #a95f4a;
  --earthy-yellow: hsl(36, 54%, 60%);
  --earthy-cream: #fdf6ca;
  --card-background: linear-gradient(
    to right,
    var(--earthy-green),
    var(--earthy-brown)
  );
}

.card {
  width: 80%;
  height: 150px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(218, 56, 56, 0.1);
  border: 1px solid var(--earthy-black);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, border-color 0.3s ease;
  color: white;
  position: relative;
  background: var(--card-background); /* Use CSS variable for background */
}

.card:hover {
  border-color: white;
}

@media (max-width: 600px) {
  .card {
    width: 80%;
    height: 100px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(218, 56, 56, 0.1);
    background-color: var(--earthy-brown);
    border: 1px solid var(--earthy-black);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
  }

  .card:hover {
    border-color: white;
  }
}

.card-content {
  position: relative;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 0;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
}

.card p {
  font-size: 1rem;
  color: #fff;
}

/* SPACING Between the cards */
.slick-slide {
  padding: 1px;
}

@media (max-width: 600px) {
  .slick-slide {
    padding: 0px;
  }
}

/* Slick Dots Menu */
.slick-dots li button:before {
  font-size: 15px;
  color: rgb(159, 158, 158);
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.card:hover {
  transform: scale(1.05);
}

.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.carousel-slide {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 0px;
}

@media (max-width: 600px) {
  .carousel-slide {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 150px;
  }
}

/* Fade effect on the left and right borders */
.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px; /* Adjust the width of the fade effect */
  pointer-events: none;
  z-index: 2;
}

/* Fading right and left of the cards below */
/* 
.carousel-container::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--earthy-cream),
    rgba(255, 255, 255, 0)
  );
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--earthy-cream),
    rgba(255, 255, 255, 0)
  );
} 
*/
