/* CARD Settings  */
.card {
  width: 80%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(218, 56, 56, 0.1);
  background-color: var(--earthy-brown);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  font-size: 1rem;
  color: #555;
}

/* SPACING Between the cards */
.slick-slide {
  padding: 1px;
}

@media (max-width: 600px) {
  .slick-slide {
    padding: 0px;
  }
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
}

.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  /* overflow: hidden;  */
}

.carousel-slide {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Left and Right borders */
.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  z-index: 2;
}

/* LEFT Border */
.carousel-container::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--earthy-cream),
    rgba(255, 255, 255, 0)
  );
}

/* RIGHT Border */
.carousel-container::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--earthy-cream),
    rgba(255, 255, 255, 0)
  );
}
