:root {
  /* Earthy theme */
  --earthy-black: #050507;
  --earthy-green: #226160;
  --earthy-brown: #a95f4a;
  --earthy-yellow: #d0a462;
  --earthy-cream: #fdf6ca;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--earthy-cream);
  background-image: url("../public/assets/darkBlueBackground.JPG");
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the background image */
}

.App {
  /* background-color: var(--earthy-cream); */
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Ensure .App covers the entire viewport height */
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  font-size: 1rem;
  color: #555;
}

.slick-slide {
  padding: 10px;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
}
